:root {
  --blackish: #07689f;
  --black: #091325;
  --dark: #ff7e67;
  --light: #a2d5f2;
  --white: #fafafa;
}

html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--white);
  font-weight: bold;
  text-shadow: 0.04rem 0.04rem 0.05rem rgba(0, 0, 0, 0.8);
  font-size: 2vw;
}

body {
  background-color: #07689f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='12.5' viewBox='0 0 25 12.5'%3E%3Cdefs%3E%3Crect stroke='%2307689f' stroke-width='0.07' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%2307689f' stroke-width='0.07'%3E%3Crect fill='%230c6ba1' width='1' height='1'/%3E%3Crect fill='%2307689f' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23116ea3' width='1' height='1' y='1'/%3E%3Crect fill='%231671a5' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%231b74a7'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%232077a9'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2307689f'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23257aab'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff7e67'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff7e67'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='25' height='12.5'/%3E%3Crect fill='url(%23b)' width='25' height='12.5'/%3E%3Crect fill='url(%23c)' width='25' height='12.5'/%3E%3Crect fill='url(%23d)' width='25' height='12.5'/%3E%3Crect fill='url(%23e)' width='25' height='12.5'/%3E%3Crect fill='url(%23f)' width='25' height='12.5'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  /* background-size: auto auto; */

  /* background by SVGBackgrounds.com */
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

hr {
  margin: 1rem;
  width: 5rem;
  border: 0.2rem rgba(0, 0, 0, 0.3) solid;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Arvo", serif;
  text-shadow: 0.06rem 0.06rem 0.07rem rgba(0, 0, 0, 0.8);
  margin: 0.5rem 0px;
  color: var(--white);
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.7rem;
}

p {
  font-size: 0.6rem;
}

header {
  background-color: var(--dark);
  height: 3.5;
  margin: 2rem 0px;
  padding: 0px 2rem;
  width: auto;
  float: left;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.floatClearer {
  clear: both;
}

article {
  margin: 0.2rem 2rem;
  padding: 0.2rem 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.flexRowSearch {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.searchBar {
  width: auto;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  border: 0.05rem var(--black) solid;
  background-color: var(--white);
  color: var(--black);
}

.searchButton {
  width: 5rem;
  height: 1rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-family: "Raleway", sans-serif;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  border: 0.05rem var(--black) solid;
  background-color: var(--dark);
  color: var(--black);
  padding: 0.05rem;
}

.bookContainer {
  background-color: var(--dark);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  border: 0.05rem var(--black) solid;
  border-radius: 1rem;
  font-size: 0.8rem;

  display: flex;
  flex-flow: column wrap;
  align-items: center;

  width: 25rem;
  height: auto;
  margin-bottom: 2rem;
  padding: 1rem;
}

#textBarContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem 3rem;
}

a {
  color: var(--white);
}

.credits {
  font-size: 0.5rem;
  color: var(--light);
  margin-top: 7rem;

  position: relative;
  bottom: 1rem;
}

.result {
  background-color: var(--light);
  color: var(--black);
}

#searchBar2,
#searchBar3 {
  border: 0.05rem var(--dark) solid;
}

#logoImage {
  height: 5rem;
  float: right;
  margin-top: 2rem;
  margin-right: 4rem;
}

#headerPart1 {
  float: left;
  margin-left: 10rem;
  margin-right: 0.5rem;
}
#headerPart2 {
  float: left;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#firstLanguageList,
#targetLanguageList {
  float: left;
  height: 1.4rem;
  font-size: 0.8rem;
  margin-top: 0.4rem;

  border-radius: 2rem;
  padding: 0.2rem;
  font-family: "Raleway", sans-serif;
  background-color: var(--light);
  color: var(--blackish);
}
